<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :document_id %>
    <%= form.hidden_field :section_id %>
    <%= form.hidden_field :variant_id %>
    <%= @document.title %> : <%= @section.title %> : <%= @variant.name %>
  </div>

  <div class="field">
    <%= form.text_area :body, id: :content_body, class: 'markdown', rows:20, cols: 80, spellcheck: false %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
