<p id="notice"><%= notice %></p>

<h1><%= @document.title %> - <%= @variant.try(:name) %></h1>

<p class="lead"><%= @document.description %></p>

<% if !@document.variants.empty? %>
  <ul class="nav nav-tabs">
  <% @variants.each do |variant| %>
    <li role="presentation" class="<%= 'active' if variant == @variant %>">
      <%= link_to variant.name, document_path(variant: variant) %>
    </li>
  <% end %>
  </ul>
<% end %>

<% @document.sections.each do |section| %>
    <div class="row">
      <div class="col-md-10">
        <h2><%= section.title %></h2>
      </div>
      <div class="col-md-2">
        <%= link_to edit_section_path(section), class: 'btn btn-link' do %>
            Edit Section
        <% end %>
      </div>
    </div>

    <% content = @document.contents.where(section: section, variant: @variant).first %>

    <div class="row">
      <div class="col-md-10">
        <% if content %>
          <%= raw @markdown.render(content.try(:body)) %>
        <% else %>
            <div class="alert alert-warning" role="alert">No content for this section yet.</div>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if content %>
          <%= link_to edit_content_path(content), class: 'btn btn-link' do %>
              Edit Content
          <% end %>
        <% else %>
            <% if !@variant.nil? %>
                <%= link_to new_content_path(document: @document, section: section, variant: @variant), class: 'btn btn-link' do %>
                    Add Content
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<hr>

<p>
  <%= link_to 'Edit Document', edit_document_path(@document), class: 'btn btn-primary' %>
  <% if @variant %>
    <%= link_to 'Edit Variant', edit_variant_path(@variant), class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Add Section', new_section_path(document: @document), class: 'btn btn-default' %>
  <%= link_to 'Add Variant', new_variant_path(document: @document), class: 'btn btn-default' %>
</p>
