<p id="notice"><%= notice %></p>

<h1><%= @document.title %> - <%= @variant.try(:name) %></h1>

<p class="lead"><%= @document.description %></p>

<% if !@document.variants.empty? %>
  <ul class="nav nav-tabs">
  <% @document.variants.each do |variant| %>
        <li role="presentation"><%= link_to variant.name, document_path(variant: variant) %></li>
  <% end %>
  </ul>
<% end %>

<% @document.sections.each do |section| %>
    <h2><%= section.title %></h2>
    <%= raw @markdown.render(@document.contents.where(section: section, variant: @variant).first.try(:body) || link_to('Create Content', new_content_path(document: @document, section: section, variant: @variant), class: 'btn btn-default btn-small')) %>
<% end %>

<hr>

<p>
  <%= link_to 'Edit Document', edit_document_path(@document), class: 'btn btn-primary' %>
  <%= link_to 'Add Section', new_section_path(document: @document), class: 'btn btn-primary' %>
  <%= link_to 'Add Variant', new_variant_path(document: @document), class: 'btn btn-primary' %>
</p>
