<%= form_with(model: variant, local: true) do |form| %>
  <% if variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :document_id %>
    <%= @document.title %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :variant_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
