<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variant.name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @variant.document %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
